
/* = Reset
-------------------------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  border: 0;
  padding: 0;
}


/* = l-container
-------------------------------------------------------------------------------------------------------------------- */
.l-container {
	padding: 20px;
}



/* = b-select
-------------------------------------------------------------------------------------------------------------------- */
.b-select {
	font-family: Ubuntu, Tahoma, sans-serif;
	display: inline-block;
	position: relative;
	font-size: 12px;
}

.b-select__value {
	border: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
	padding: 5px;
}

.b-select__value-text {
	padding-right: 20px;
	min-width: 150px;
}

.b-select__value-handle {
	float: right;
	color: #666;
}

.b-select__list {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
	top: 100%; left: 0;
	position: absolute;
	background: #fff;
	list-style: none;
	display: none;
	width: 100%;
}

.b-select__list-item {
  cursor: pointer;
  padding: 5px;
}

.b-select__list-item_state_hover {
	background: #ffeba0;
}

.b-select__list-item_state_selected {
	background: #ffeba0;
}